<template>
  <div>
      <div class="crumbs">
          <el-breadcrumb separator="/">
              <el-breadcrumb-item>
                  <i class="el-icon-lx-cascades"></i> 发表文章管理
              </el-breadcrumb-item>
          </el-breadcrumb>
      </div>
      <div class="container">
          <div class="handle-box">
              <el-button
                  type="primary"
                  icon="el-icon-delete"
                  class="handle-del mr10"
                  @click="handleDelete(0,{})"
              >批量删除</el-button>
              <el-select v-model="query.pubPri" placeholder="文章属性" class="handle-select mr10">
                  <el-option key="0" label="全部" value=""></el-option>
                  <el-option key="1" label="公开" value="1"></el-option>
                  <el-option key="2" label="私密" value="2"></el-option>
              </el-select>
            <el-select v-model="query.tab" placeholder="文章标签" class="handle-select mr10">
              <el-option key="0" label="全部" value=""></el-option>
              <el-option key="1" label="家庭" value="家庭"></el-option>
              <el-option key="2" label="情侣" value="情侣"></el-option>
              <el-option key="3" label="朋友" value="朋友"></el-option>
              <el-option key="4" label="独自" value="独自"></el-option>
            </el-select>
              <el-input v-model="query.userName" placeholder="发表名字" class="handle-input mr10"></el-input>
              <el-input v-model="query.title" placeholder="文章标题" class="handle-input mr10"></el-input>
              <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
          </div>
          <el-table
              :data="tableData"
              border
              class="table"
              ref="multipleTable"
              header-cell-class-name="table-header"
              @selection-change="handleSelectionChange"
          >
            <el-table-column type="selection" width="55" align="center"></el-table-column>
              <el-table-column prop="id" label="ID" width="55" align="center"></el-table-column>
              <el-table-column prop="title" label="文章标题"></el-table-column>
              <el-table-column prop="tab" label="文章标签"></el-table-column>
              <el-table-column prop="userName" label="发布名字"></el-table-column>
              <el-table-column prop="description" label="文章描述"></el-table-column>
              <el-table-column prop="article" label="文章内容">
                <template slot-scope="scope">
                  <el-button
                      type="text"
                      icon="el-icon-lx-attention"
                      @click="handleArticle(scope.$index, scope.row)"
                  >查 看</el-button>
                </template>
              </el-table-column>
              <el-table-column prop="userId" label="发表用户id"></el-table-column>
            <el-table-column label="文章属性" align="center">
              <template slot-scope="scope">
                <el-tag
                    :type="scope.row.pubPri===1?'success':(scope.row.state===2?'danger':'')"
                >{{scope.row.pubPri === 1 ? "公开":"私密"}}</el-tag>
              </template>
            </el-table-column>

              <el-table-column prop="createTime" label="创建时间"></el-table-column>
              <el-table-column label="操作" width="180" align="center">
                  <template slot-scope="scope">
                      <el-button
                          type="text"
                          icon="el-icon-edit"
                          @click="handleEdit(scope.$index, scope.row)"
                      >编辑</el-button>
                      <el-button
                          type="text"
                          icon="el-icon-delete"
                          class="red"
                          @click="handleDelete(scope.$index, scope.row)"
                      >删除</el-button>
                  </template>
              </el-table-column>
          </el-table>
          <div class="pagination">
              <el-pagination
                  background
                  layout="total, prev, pager, next"
                  :current-page="query.pageIndex"
                  :page-size="query.pageSize"
                  :total="pageTotal"
                  @current-change="handlePageChange"
              ></el-pagination>
          </div>
      </div>

      <!-- 编辑弹出框 -->
      <el-dialog title="编辑" :visible.sync="editVisible" width="30%">
          <el-form ref="form" :model="form" label-width="70px">
              <el-form-item label="文章标签">
                <el-select v-model="form.tabs" placeholder="文章标签" class="handle-select mr10" multiple>
                  <el-option key="0" label="全部" value=""></el-option>
                  <el-option key="1" label="家庭" value="家庭"></el-option>
                  <el-option key="2" label="情侣" value="情侣"></el-option>
                  <el-option key="3" label="朋友" value="朋友"></el-option>
                  <el-option key="4" label="独自" value="独自"></el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="发布名字">
                  <el-input v-model="form.userName"></el-input>
              </el-form-item>
            <el-form-item label="文章描述">
              <el-input v-model="form.description"></el-input>
            </el-form-item>

            <el-form-item label="文章属性">
              <el-select v-model="form.pubPri" placeholder="文章属性" class="handle-select mr10">
                <el-option key="1" label="公开" :value="1"></el-option>
                <el-option key="2" label="私密" :value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
              <el-button @click="editVisible = false">取 消</el-button>
              <el-button type="primary" @click="saveEdit">确 定</el-button>
          </span>
      </el-dialog>

    <el-dialog title="查看文章" :visible.sync="readVisible" width="60%">
      <span v-html="readHtml"></span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchData } from '../api/index';
import axios from "axios";
export default {
  name: 'ArticleMgmt',
  data() {
      return {
          readHtml:'',
          query: {
              tab:'',
              pubPri:'',
              userName:'',
              title:'',
              pageIndex: 1,
              pageSize: 10
          },
          tableData: [],
          multipleSelection: [],
          delList: [],
          editVisible: false,
          readVisible:false,
          pageTotal: 0,
          form: {},
          idx: -1,
          id: -1
      };
  },
  created() {
      this.getData();
  },
  methods: {
      // 获取 easy-mock 的模拟数据
      getData() {
          fetchData(this.query).then(res => {
              // console.log(res);
            axios.post('/api/back-article/page',this.query,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
              console.log(res)
              this.tableData = res.data.data
              this.pageTotal = res.data.count

            }).catch(function (error) {
              console.log(error);

            });
              // this.tableData = res.list;
              // this.pageTotal = res.pageTotal || 50;
          });
      },
      // 触发搜索按钮
      handleSearch() {
          this.$set(this.query, 'pageIndex', 1);
          this.getData();
      },
      // 删除操作
      handleDelete(index, row) {

          // 二次确认删除
          this.$confirm('确定要删除吗？', '提示', {
              type: 'warning'
          })
              .then(() => {
                let ids = []
                if (row.id){
                  ids.push(row.id)
                }else{
                  ids = this.multipleSelection.map((x)=>{
                    return x.id;
                  })
                }
                axios.post('/api/back-article/delete',ids,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
                  console.log(res)
                  this.$message.success('删除成功');
                  this.getData()

                }).catch(function (error) {
                  console.log(error);

                });

              })
              .catch(() => {});
      },
      handleArticle(index,row){
        this.readHtml = row.article
        this.readVisible = true;
      },
      // 多选操作
      handleSelectionChange(val) {
          this.multipleSelection = val;
      },
      delAllSelection() {
          const length = this.multipleSelection.length;
          let str = '';
          this.delList = this.delList.concat(this.multipleSelection);
          for (let i = 0; i < length; i++) {
              str += this.multipleSelection[i].name + ' ';
          }
          this.$message.error(`删除了${str}`);
          this.multipleSelection = [];
      },
      // 编辑操作
      handleEdit(index, row) {
        console.log(row.pubPri)
          this.idx = index;
          this.form = row;
          // console.log(this.form)
          // this.form.priPub = row.pubPri === 1;
          // this.form.pubPri = this.form.priPub === true ? 1 : 2;
          this.form.tabs = row.tab.split(',');
          this.editVisible = true;
      },
      // 保存编辑
      saveEdit() {
        axios.post('/api/back-article/edit',this.form,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
          console.log(res)
          this.editVisible = false;
          this.$message.success(`修改第 ${this.idx + 1} 行成功`);
          this.$set(this.tableData, this.idx, this.form);
          this.getData()

        }).catch(function (error) {
          console.log(error);

        });

      },
      // 分页导航
      handlePageChange(val) {
          this.$set(this.query, 'pageIndex', val);
          this.getData();
      }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 300px;
  display: inline-block;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.mr10 {
  margin-right: 10px;
}
.table-td-thumb {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}
</style>
