<template>
  <div>
    <div style="margin-left: 350px;margin-bottom: 20px;margin-top: 10px">
    选择用户：<el-select v-model="tab" multiple placeholder="请选择">
      <el-option key="1" label="家庭" value="家庭"></el-option>
      <el-option key="2" label="情侣" value="情侣"></el-option>
      <el-option key="3" label="朋友" value="朋友"></el-option>
      <el-option key="4" label="独自" value="独自"></el-option>
    </el-select>
      <el-button type="primary" style="width: 80px;margin-left: 10px" @click="lookUser">查询</el-button>
    </div>
   <div id="chartPie" class="pie-wrap"></div>
  <hr style="margin-top: 50px">
  <div style="margin-top:30px;"> <ChartCylindrical></ChartCylindrical></div>
  </div>
</template>

<script>

import * as echarts from 'echarts';
import axios from "axios";
import ChartCylindrical from "./ChartCylindrical";
import ChartLine from "./ChartLine";
require('echarts/theme/macarons');

export default {
  name: "ChartPie",
  components: { ChartLine, ChartCylindrical},
  data() {
    return {
      tab:'',
      chartPie: null,
      dataCount:[],

    }
  },
  created() {

  },
  mounted() {
    this.$nextTick(() => {
      axios.post('/api/article/getTabCount').then( (res) =>{
        this.setCountData(res.data.data)
      }).catch(function (error) {
        console.log(error);
      });

    })
  },
  methods: {
    lookUser(){
      console.log(this.tab)
      let submit = this.tab.join(",");
      axios.post('/api/article/getTabCount?tab='+submit).then( (res) =>{
        this.setCountData(res.data.data)
      }).catch(function (error) {
        console.log(error);
      });
    },
    setCountData(data){
      let arr = [];
      let arr2 = [];
      let map = new Map(Object.entries(data));
      map.forEach((x,y)=>{
        arr.push({value:x,name:y})
        arr2.push(y)
      })
      this.drawPieChart(arr,arr2);
    },
    drawPieChart(arr,arr2) {
      let mytextStyle = {
        color: "#333",
        fontSize: 18,
      };
      let mylabel = {
        show: true,
        position: "right",
        offset: [30, 40],
        formatter: '{b} : {c} ({d}%)',
        textStyle: mytextStyle
      };
      echarts.init(document.getElementById('chartPie')).dispose()
      this.chartPie = echarts.init(document.getElementById('chartPie'), 'macarons');
      this.chartPie.setOption({
        title: {
          text: '文章标签数据统计',
          x: 'center'
        },
        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)",
        },
        legend: {
          data: arr2,
          left: "center",
          top: "bottom",
          orient: "horizontal",
        },
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: ['50%', '70%'],
            center: ['50%', '50%'],
            data:arr,
            animationEasing: 'cubicInOut',
            animationDuration: 2600,
            label: {
              emphasis: mylabel
            }
          }
        ]
      });
    }
  }
}
</script>

<style lang='less' scoped>
.pie-wrap {
  width: 70%;
  height: 400px;
  background:#fff;
  margin: auto;
}
</style>