<template>
  <div id="test_app">
    <div style="margin-left: 300px;margin-bottom: 50px">
      选择文章：<el-select v-model="userAcc" multiple placeholder="请选择">
      <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
          clearable >
      </el-option>
    </el-select>
      <el-button type="primary" style="width: 80px;height:30px;margin-left: 10px" @click="lookUser">查询</el-button>
    </div>
    <!--echarts的容器-->
    <div id="chartPie" class="pie-wrap"></div>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import axios from "axios";
export default {
  name: 'ChartLine',
  data() {
    return {
      options:[],
      userAcc:'',
      charts: '',
      chartPie: null,

    }
  },
  //调用
  mounted() {
    this.$nextTick(()=> {
      axios.post('/api/atten/likes/getArticleViewsCount').then( (res) =>{
        console.log('res.data.data-------:',res.data.data)
        this.setCountData(res.data.data);
      }).catch(function (error) {
        console.log(error);
      });

    })
  },
  created() {
    axios.post('/api/article/getArticleTitle').then( (res) =>{
      this.setSelectUser(res.data.data)
    }).catch(function (error) {
      console.log(error);
    });
  },
  methods: {
    setCountData(data){
      let arr = [];
      let arr2 = [];
      let map = new Map(Object.entries(data));
      map.forEach((x,y)=>{
        arr.push({value:x,name:y})
        arr2.push(y)
      })
      this.drawPieChart(arr,arr2);
    },
    lookUser(){
      let submit = this.userAcc.join(",");
      axios.post('/api/atten/likes/getArticleViewsCount?userAcc='+submit).then( (res) =>{
        console.log('res.data.data:',res.data.data)
        this.setCountData(res.data.data)
      }).catch(function (error) {
        console.log(error);
      });
    },
    drawPieChart(arr,arr2) {
      console.log("arr",arr)
      console.log("arr2",arr2)
      let mytextStyle = {
        color: "#333",
        fontSize: 18,
      };
      let mylabel = {
        show: true,
        position: "right",
        offset: [30, 40],
        formatter: '{b} : {c} ({d}%)',
        textStyle: mytextStyle
      };
      echarts.init(document.getElementById('chartPie')).dispose()
      this.chartPie = echarts.init(document.getElementById('chartPie'), 'macarons');
      this.chartPie.setOption({
        title: {
          text: '文章访问量统计',
          subtext: '',
          x: 'center',
        },
        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)",
        },
        legend: {
          data: arr2,
          left: "center",
          top: "bottom",
          orient: "horizontal",
        },
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: ['50%', '70%'],
            center: ['50%', '50%'],
            data:arr,
            animationEasing: 'cubicInOut',
            animationDuration: 2600,
            label: {
              emphasis: mylabel
            }
          }
        ]
      });
    },
    setSelectUser(data){
      let map = new Map(Object.entries(data));
      let opt = [];
      map.forEach((x,y)=>{
        opt.push({label:x,value:y})
      })
      this.options = opt;
    },
  },

}
</script>

<style scoped>
* {
  margin: auto;
  padding: 0;
  list-style: none;
}
.pie-wrap {
  width: 70%;
  height: 400px;
  background:#fff;
  margin: auto;
}
</style>