<template>
  <div>
      <div style="margin-left: 350px;margin-bottom: 20px">
        选择用户：<el-select v-model="userAcc" multiple placeholder="请选择">
        <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            clearable >
        </el-option>
    </el-select>
        <el-button type="primary" style="width: 80px;margin-left: 10px" @click="lookUser">查询</el-button>
      </div>
    <div class="echart" id="mychart" :style="myChartStyle" style="margin: auto">
    </div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import axios from "axios";

export default {
  name:'ChartCylindrical',
  data() {
    return {
      options:[],
      userAcc:'',
      xData: [], //横坐标
      yData: [], //数据
      myChartStyle: {  width: "70%", height: "400px" ,background:"#fff"} //图表样式
    };
  },
  mounted() {
    axios.post('/api/article/getArticleCount').then( (res) =>{
      console.log('res.data.data:',res.data.data)
      this.setArticleCountData(res.data.data)
      this.initEcharts();
    }).catch(function (error) {
      console.log(error);
    });

  },
  created() {
    axios.post('/api/loginController/getUserData').then( (res) =>{
      console.log('res.data.data:',res.data.data)
      this.setSelectUser(res.data.data)
    }).catch(function (error) {
      console.log(error);
    });
  },
  methods: {
    lookUser(){
      console.log(this.userAcc)
      let submit = this.userAcc.join(",");
      axios.post('/api/article/getArticleCount?userAcc='+submit).then( (res) =>{
        console.log('res.data.data:',res.data.data)
        this.setArticleCountData(res.data.data)
        this.initEcharts();
      }).catch(function (error) {
        console.log(error);
      });
    },
    setSelectUser(data){
      let map = new Map(Object.entries(data));
      let opt = [];
      map.forEach((x,y)=>{
        opt.push({label:x,value:y})
      })
      this.options = opt;
    },
    setArticleCountData(data){
      let key = [];
      let value = [];
     let map = new Map(Object.entries(data));
     map.forEach((x,y)=>{
       key.push(x);
       value.push(y);
     })
      this.yData = key;
     this.xData = value;
    },
    initEcharts() {
      // 基本柱状图
      const option = {
        title: {
          text: '文章发表数统计',
          x: 'center'
        },
        xAxis: {
          data: this.xData
        },
        yAxis: {},
        series: [
          {
            type: "bar", //形状为柱状图
            data: this.yData
          }
        ]
      };
      const myChart = echarts.init(document.getElementById("mychart"));
      myChart.setOption(option);
      //随着屏幕大小调节图表
      window.addEventListener("resize", () => {
        myChart.resize();
      });
    }
  }
};
</script>

