<template>
  <div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades"></i> 留言管理
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container">
      <div class="handle-box">
        <el-button
            type="primary"
            icon="el-icon-delete"
            class="handle-del mr10"
            @click="handleDelete(0,{})"
        >批量删除</el-button>
        <el-select v-model="query.tab" placeholder="文章标签" class="handle-select mr10">
          <el-option key="0" label="全部" value=""></el-option>
          <el-option key="1" label="家庭" value="家庭"></el-option>
          <el-option key="2" label="情侣" value="情侣"></el-option>
          <el-option key="3" label="朋友" value="朋友"></el-option>
          <el-option key="4" label="独自" value="独自"></el-option>
        </el-select>
        <el-input v-model="query.userName" placeholder="发布者" class="handle-input mr10"></el-input>
        <el-input v-model="query.title" placeholder="文章标题" class="handle-input mr10"></el-input>
        <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
      </div>
      <el-table
          :data="tableData"
          border
          class="table"
          ref="multipleTable"
          header-cell-class-name="table-header"
          @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" align="center"></el-table-column>
        <el-table-column
            type="index"
            width="50"
            label="序号">
        </el-table-column>
        <el-table-column prop="title" label="文章标题"></el-table-column>
        <el-table-column prop="tab" label="文章标签"></el-table-column>
        <el-table-column prop="userName" label="发布名字"></el-table-column>
        <el-table-column prop="description" label="文章描述"></el-table-column>
        <el-table-column prop="article" label="文章内容">
          <template slot-scope="scope">
            <el-button
                type="text"
                icon="el-icon-lx-attention"
                @click="handleArticle(scope.$index, scope.row)"
            >查 看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="content" label="留言">
          <template slot-scope="scope">
            <el-button
                type="text"
                icon="el-icon-lx-attention"
                @click="lookContent(scope.$index, scope.row)"
            >查 看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="留言时间"></el-table-column>
        <el-table-column label="操作" width="180" align="center">
          <template slot-scope="scope">
            <el-button
                type="text"
                icon="el-icon-delete"
                class="red"
                @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
            background
            layout="total, prev, pager, next"
            :current-page="query.pageIndex"
            :page-size="query.pageSize"
            :total="pageTotal"
            @current-change="handlePageChange"
        ></el-pagination>
      </div>
    </div>




    <el-dialog title="查看文章" :visible.sync="readVisible" width="80%">
      <span v-html="readHtml"></span>
    </el-dialog>
    <el-dialog title="查看留言" :visible.sync="contentVisible" width="50%">
      <div v-for="c in topCommentList" :key="c.id" class="comment-reply-item">
      <!-- 顶楼贴 -->
      <el-row>
        <el-col :span="avaterColSize">
          <el-avatar :size="avatarSize" :src="c.info.avatar">
            <img src="" />
          </el-avatar>
        </el-col>
        <el-col :span="infoColSize">
          <div class="comment-info">
            By
            <span class="comment-author">{{c.info.name}}</span>
            At
            <span>{{c.info.date}}</span>
            With
            <span>{{c.info.OS}}</span>
            <span>{{c.info.browser}}</span>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <div class="comment-content">{{c.content}}</div>
        </el-col>
      </el-row>
      <el-divider></el-divider>
      <!-- 回复贴 -->
      <el-row type="flex" justify="end">
        <el-col :span="23">
          <el-row v-for="r in c.replyList" :key="r.id" class="comment-reply-item">
            <el-row>
              <el-col :span="avaterColSize">

                <el-avatar :size="avatarSize" :src="r.info.avatar">
                  <img src="" />
                </el-avatar>
              </el-col>
              <el-col :span="infoColSize">
                <div class="comment-info">
                  By
                  <span class="comment-author">{{r.info.name}}</span>
                  At
                  <span>{{r.info.date}}</span>
                  With
                  <span>{{r.info.OS}}</span>
                  <span>{{r.info.browser}}</span>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <div class="comment-content">
                  <span>@</span>
                  <span style="color:  #35b8ff">{{r.replyNickname}}</span>
                  <span>:</span>
                  {{r.content}}
                </div>
              </el-col>
            </el-row>
            <el-divider></el-divider>
          </el-row>
        </el-col>
      </el-row>
  </div>


    </el-dialog>
  </div>
</template>

<script>
import { fetchData } from '../api/index';
import axios from "axios";
export default {
  name: 'ContentMgmt',
  data() {
    return {
      topCommentList: [],
      readHtml:'',
      query: {
        tab:'',
        userName:'',
        title:'',
        pageIndex: 1,
        pageSize: 10
      },
      tableData: [],
      multipleSelection: [],
      delList: [],
      editVisible: false,
      readVisible:false,
      contentVisible:false,
      pageTotal: 0,
      form: {},
      idx: -1,
      id: -1
    };
  },
  created() {
    this.getData();
  },
  computed: {
    avatarSize() {
      return document.body.clientWidth >= 1000 ? 60 : 36;
    },
    avaterColSize() {
      return document.body.clientWidth >= 1000 ? 2 : 4;
    },
    infoColSize() {
      return document.body.clientWidth >= 1000 ? 22 : 20;
    }
  },
  methods: {
    setCommentList(data,row){
      let arr = [{
        info: {
          name: row.name,
          email: row.email,
          avatar: row.avatarUrl,
          date: row.createTime,
          browser: row.browser,
          OS: "Windows"
        },
        replyList:[],
        content: row.content,
        id: row.id,
      }]
      data.forEach(x=>{
        if (x.preId === "" || x.preId === null){
          let op = {
            info: {
              name: x.name,
              email: x.email,
              avatar: x.avatarUrl,
              date: x.createTime,
              browser: x.browser,
              OS: "Windows"
            },
            replyList:[],
            content: x.content,
            id: x.id,
          }
          arr.push(op);
        }else{
          let applyArr = []

          for (let y in arr){
            if (x.preId === arr[y].id){
              let Arr = {
                info: {
                  name: x.name,
                  email: x.email,
                  avatar: x.avatarUrl,
                  date: x.createTime,
                  browser: x.browser,
                  OS: "Windows",
                },
                content: x.content,
                id: x.id,
                // 回复的楼层
                replyId: x.preId,
                replyNickname: x.preName,
              }
              applyArr.push(Arr)
              if ( typeof arr[y].replyList !== 'undefined' && arr[y].replyList instanceof Object )
                arr[y].replyList.push(Arr)
              else
                arr[y].replyList = applyArr
              break;
            }
          }
        }


      })
      this.topCommentList = arr
      console.log(' this.topCommentList:', this.topCommentList)

    },
    lookContent(index,row){

      console.log(index,row)
      axios.post('/api/back-comment/getList?articleId='+row.articleId+'&preId='+row.id,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
        console.log("setCommentList",res)
        this.setCommentList(res.data.data,row)
      }).catch(function (error) {
        console.log(error);

      });
        this.contentVisible = true;
    },

    // 获取 easy-mock 的模拟数据
    getData() {
      fetchData(this.query).then(res => {
        console.log(res);
        axios.post('/api/back-comment/page',this.query,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
          console.log(res)
          this.tableData = res.data.data
          this.pageTotal = res.data.count

        }).catch(function (error) {
          console.log(error);

        });
        // this.tableData = res.list;
        // this.pageTotal = res.pageTotal || 50;
      });
    },
    // 触发搜索按钮
    handleSearch() {
      this.$set(this.query, 'pageIndex', 1);
      this.getData();
    },
    // 删除操作
    handleDelete(index, row) {

      // 二次确认删除
      this.$confirm('确定要删除吗？', '提示', {
        type: 'warning'
      })
          .then(() => {
            let ids = []
            if (row.id){
              ids.push(row.id)
            }else{
              ids = this.multipleSelection.map((x)=>{
                return x.id;
              })
            }
            axios.post('/api/back-comment/delete',ids,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
              console.log(res)
              this.$message.success('删除成功');
              this.getData()

            }).catch(function (error) {
              console.log(error);

            });

          })
          .catch(() => {});
    },
    handleArticle(index,row){
      this.readHtml = row.article
      this.readVisible = true;
    },
    handleConent(index,row){

    },
    // 多选操作
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    delAllSelection() {
      const length = this.multipleSelection.length;
      let str = '';
      this.delList = this.delList.concat(this.multipleSelection);
      for (let i = 0; i < length; i++) {
        str += this.multipleSelection[i].name + ' ';
      }
      this.$message.error(`删除了${str}`);
      this.multipleSelection = [];
    },
    // 编辑操作
    handleEdit(index, row) {
      console.log(row.pubPri)
      this.idx = index;
      this.form = row;
      this.form.priPub = row.pubPri === 1;
      this.form.pubPri = this.form.priPub === true ? 1 : 2;
      this.form.tabs = row.tab.split(',');
      this.editVisible = true;
    },
    // 保存编辑
    saveEdit() {
      axios.post('/api/back-article/edit',this.form,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
        console.log(res)
        this.editVisible = false;
        this.$message.success(`修改第 ${this.idx + 1} 行成功`);
        this.$set(this.tableData, this.idx, this.form);
        this.getData()

      }).catch(function (error) {
        console.log(error);

      });

    },
    // 分页导航
    handlePageChange(val) {
      this.$set(this.query, 'pageIndex', val);
      this.getData();
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 300px;
  display: inline-block;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.mr10 {
  margin-right: 10px;
}
.table-td-thumb {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}
.comment-info > .comment-author {
  font-weight: bold;
  font-size: 1.1em;
  color: #35b8ff;
}
.comment-info > span {
  font-size: 0.5em;
  padding-left: 5px;
}
.comment-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

</style>
