<template>
  <div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades"></i> 开发者留言管理
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container">
      <div class="handle-box">
        <el-button
            type="primary"
            icon="el-icon-delete"
            class="handle-del mr10"
            @click="handleDelete(0,{})"
        >批量删除</el-button>
        <el-input v-model="query.name" placeholder="留言名字" class="handle-input mr10"></el-input>
        <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
      </div>
      <el-table
          :data="tableData"
          border
          class="table"
          ref="multipleTable"
          header-cell-class-name="table-header"
          @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" align="center"></el-table-column>
        <el-table-column
            type="index"
            width="50"
            label="序号">
        </el-table-column>
        <el-table-column prop="userId" label="用户ID"></el-table-column>
        <el-table-column prop="name" label="留言名字"></el-table-column>
        <el-table-column prop="email" label="邮箱"></el-table-column>
        <el-table-column prop="content" label="留言">
          <template slot-scope="scope">
            <el-button
                type="text"
                icon="el-icon-lx-attention"
                @click="lookContent(scope.$index, scope.row)"
            >查 看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="留言时间"></el-table-column>
        <el-table-column label="操作" width="180" align="center">
          <template slot-scope="scope">
            <el-button
                type="text"
                icon="el-icon-delete"
                class="red"
                @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
            background
            layout="total, prev, pager, next"
            :current-page="query.pageIndex"
            :page-size="query.pageSize"
            :total="pageTotal"
            @current-change="handlePageChange"
        ></el-pagination>
      </div>
    </div>

    <el-dialog title="查看留言" :visible.sync="contentVisible" width="50%">
      <div v-for="c in topCommentList" :key="c.id" class="comment-reply-item">
      <!-- 顶楼贴 -->
      <el-row>
        <el-col :span="avaterColSize">
          <el-avatar :size="avatarSize" :src="c.info.avatar">
            <img src="" />
          </el-avatar>
        </el-col>
        <el-col :span="infoColSize">
          <div class="comment-info">
            By
            <span class="comment-author">{{c.info.name}}</span>
            At
            <span>{{c.info.date}}</span>
            With
            <span>{{c.info.OS}}</span>
            <span>{{c.info.browser}}</span>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <div class="comment-content">{{c.content}}</div>
        </el-col>
      </el-row>
      <el-divider></el-divider>
      <!-- 回复贴 -->
      <el-row type="flex" justify="end">
        <el-col :span="23">
          <el-row v-for="r in c.replyList" :key="r.id" class="comment-reply-item">
            <el-row>
              <el-col :span="avaterColSize">

                <el-avatar :size="avatarSize" :src="r.info.avatar">
                  <img src="" />
                </el-avatar>
              </el-col>
              <el-col :span="infoColSize">
                <div class="comment-info">
                  By
                  <span class="comment-author">{{r.info.name}}</span>
                  At
                  <span>{{r.info.date}}</span>
                  With
                  <span>{{r.info.OS}}</span>
                  <span>{{r.info.browser}}</span>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <div class="comment-content">
                  <span>@</span>
                  <span style="color:  #35b8ff">{{r.replyNickname}}</span>
                  <span>:</span>
                  {{r.content}}
                </div>
              </el-col>
            </el-row>
            <el-divider></el-divider>
          </el-row>
        </el-col>
      </el-row>
  </div>
    <div class="divForm">
        <el-form ref="form" :model="form" :rules="rules"  :inline-message="true">
          <el-form-item prop="content">
            <el-input
                id="input-textarea"
                class="comment-form-item"
                type="textarea"
                :autosize="{ minRows: 5, maxRows: 10}"
                :placeholder="atNickname"
                v-model="form.content"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button plain type="primary" @click="submitForm('ruleForm')">立即回复</el-button>
          </el-form-item>
        </el-form>
    </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchData } from '../api/index';
import axios from "axios";
export default {
  name: 'ContentMgmt',
  data() {
    return {
      form: {
        name: "",
        email: "",
        content: "",
        createTime: "",
        browser: "",
        OS: ""
      },
      rules: {
        content: [{ required: true, message: "请输入回复内容", trigger: "blur" }],
      },
      atNickname: "请输入内容",
      topCommentList: [],
      query: {
        name:'',
        pageIndex: 1,
        pageSize: 10
      },
      row:{},
      tableData: [],
      multipleSelection: [],
      delList: [],
      editVisible: false,
      readVisible:false,
      contentVisible:false,
      pageTotal: 0,
      idx: -1,
      id: -1
    };
  },
  created() {
    this.getData();
  },
  computed: {
    avatarSize() {
      return document.body.clientWidth >= 1000 ? 60 : 36;
    },
    avaterColSize() {
      return document.body.clientWidth >= 1000 ? 2 : 4;
    },
    infoColSize() {
      return document.body.clientWidth >= 1000 ? 22 : 20;
    }
  },
  methods: {
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          let preComment = this.form
          preComment.name = 'admin';
          preComment.email = 'admin@qq.com';
          preComment.preId = this.row.id
          preComment.preName = this.row.name
          axios.post('/api/comment/saveDev',preComment,{headers:{"Content-Type":"application/json"}}).then( (res) =>{

            if(res.data.data.saveFlag && res.data.data.saveFlag === true){
              this.$message.success(res.data.data.saveMes)
              this.form = {}
              this.$emit("")
            }else{
              this.$message.error(res.data.data.saveMes)
            }
          }).catch(function (error) {
            console.log(error);
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    setCommentList(data,row){
      let arr = [];
      let user = JSON.parse(localStorage.getItem("user"));
      if (user.account === "admin"){
        arr = [{
          info: {
            name: row.name,
            email: row.email,
            avatar: row.avatarUrl,
            date: row.createTime,
            browser: row.browser,
            OS: row.os
          },
          replyList:[],
          content: row.content,
          id: row.id,
        }]
      }
      arr = [{
        info: {
          name: row.userName,
          email: row.email,
          avatar: row.avatarUrl,
          date: row.createTime,
          browser: row.browser,
          OS: row.os
        },
        replyList:[],
        content: row.content,
        id: row.id,
      }]
      data.forEach(x=>{
        if (x.id !== row.id || x.preId === row.id) {
          if (x.preId === "" || x.preId === null) {
            let op = {
              info: {
                name: x.name,
                email: x.email,
                avatar: x.avatarUrl,
                date: x.createTime,
                browser: x.browser,
                OS: x.os
              },
              replyList: [],
              content: x.content,
              id: x.id,
            }
            arr.push(op);
          } else {
            let applyArr = []

            for (let y in arr) {
              if (x.preId === arr[y].id) {
                let Arr = {
                  info: {
                    name: x.name,
                    email: x.email,
                    avatar: x.avatarUrl,
                    date: x.createTime,
                    browser: x.browser,
                    OS: x.os,
                  },
                  content: x.content,
                  id: x.id,
                  // 回复的楼层
                  replyId: x.preId,
                  replyNickname: x.preName,
                }
                applyArr.push(Arr)
                if (typeof arr[y].replyList !== 'undefined' && arr[y].replyList instanceof Object)
                  arr[y].replyList.push(Arr)
                else
                  arr[y].replyList = applyArr
                break;
              }
            }
          }
        }


      })
      this.topCommentList = arr

    },
    lookContent(index,row){
      this.row = row;
      axios.post('/api/comment/getDevList').then( (res) =>{
        this.setCommentList(res.data.data,row)
      }).catch(function (error) {
        console.log(error);
      });
        this.contentVisible = true;
    },

    // 获取 easy-mock 的模拟数据
    getData() {
      fetchData(this.query).then(res => {
        console.log(res);
        axios.post('/api/back-comment/devPage',this.query,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
          console.log("tableData",res)
          this.tableData = res.data.data
          this.pageTotal = res.data.count

        }).catch(function (error) {
          console.log(error);

        });
        // this.tableData = res.list;
        // this.pageTotal = res.pageTotal || 50;
      });
    },
    // 触发搜索按钮
    handleSearch() {
      this.$set(this.query, 'pageIndex', 1);
      this.getData();
    },
    // 删除操作
    handleDelete(index, row) {

      // 二次确认删除
      this.$confirm('确定要删除吗？', '提示', {
        type: 'warning'
      })
          .then(() => {
            let ids = []
            if (row.id){
              ids.push(row.id)
            }else{
              ids = this.multipleSelection.map((x)=>{
                return x.id;
              })
            }
            axios.post('/api/back-comment/delete',ids,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
              console.log(res)
              this.$message.success('删除成功');
              this.getData()

            }).catch(function (error) {
              console.log(error);

            });

          })
          .catch(() => {});
    },
    handleArticle(index,row){
      this.readHtml = row.article
      this.readVisible = true;
    },
    handleConent(index,row){

    },
    // 多选操作
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    delAllSelection() {
      const length = this.multipleSelection.length;
      let str = '';
      this.delList = this.delList.concat(this.multipleSelection);
      for (let i = 0; i < length; i++) {
        str += this.multipleSelection[i].name + ' ';
      }
      this.$message.error(`删除了${str}`);
      this.multipleSelection = [];
    },
    // 分页导航
    handlePageChange(val) {
      this.$set(this.query, 'pageIndex', val);
      this.getData();
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 300px;
  display: inline-block;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.mr10 {
  margin-right: 10px;
}
.table-td-thumb {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}
.comment-info > .comment-author {
  font-weight: bold;
  font-size: 1.1em;
  color: #35b8ff;
}
.comment-info > span {
  font-size: 0.5em;
  padding-left: 5px;
}
.comment-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.divForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

</style>
