<template>
    <div>
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <i class="el-icon-lx-cascades"></i> 粉丝管理
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="container">
            <div class="handle-box">
                <el-select v-model="query.sort" placeholder="排序（大->小）" class="handle-select mr10" style="width: 200px">
                    <el-option key="1" label="等级排序" value="1"></el-option>
                    <el-option key="2" label="关注时间排序" value="2"></el-option>
                </el-select>
                <el-input v-model="query.account" placeholder="用户名" class="handle-input mr10"></el-input>
                <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
            </div>
            <el-table
                :data="tableData"
                border
                class="table"
                ref="multipleTable"
                header-cell-class-name="table-header"
            >

              <el-table-column
                  type="index"
                  width="50"
                  label="序号">
              </el-table-column>
                <el-table-column prop="account" label="用户名"></el-table-column>
                <el-table-column prop="level" label="等级"></el-table-column>
              <el-table-column prop="introduction" label="个人简介"></el-table-column>
              <el-table-column label="头像(查看大图)" align="center">
                    <template slot-scope="scope">
                        <el-image
                            class="table-td-thumb"
                            :src="scope.row.avatarUrl"
                            :preview-src-list="[scope.row.avatarUrl]"
                        ></el-image>
                    </template>
                </el-table-column>
                <el-table-column label="状态" align="center">
                    <template slot-scope="scope">
                        <el-tag
                            :type="scope.row.flag ===1?'success':(scope.row.flag===2?'danger':'')"
                        >{{scope.row.flag === 1 ? "互关" : "未互关"}}</el-tag>
                    </template>
                </el-table-column>

                <el-table-column prop="createTime" label="关注时间"></el-table-column>
                <el-table-column label="操作" width="180" align="center">
                    <template slot-scope="scope">
                        <el-button
                            type="text"
                            icon="el-icon-lx-like"
                            @click="handleAtten(scope.$index, scope.row)"
                        >{{scope.row.flag === 2 ? "回关" : "取消关注"}}</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
                <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :current-page="query.pageIndex"
                    :page-size="query.pageSize"
                    :total="pageTotal"
                    @current-change="handlePageChange"
                ></el-pagination>
            </div>
        </div>

    </div>
</template>

<script>
import { fetchData } from '../api/index';
import axios from "axios";
export default {
    name: 'FansMgmt',
    data() {
        return {
            query: {
                sort: '',
                account: '',
                pageIndex: 1,
                pageSize: 10
            },
            tableData: [],
            multipleSelection: [],
            delList: [],
            editVisible: false,
            pageTotal: 0,
            form: {},
            idx: -1,
            id: -1
        };
    },
    created() {
        this.getData();
    },
    methods: {
        // 获取 easy-mock 的模拟数据
        getData() {
            fetchData(this.query).then(res => {
                console.log(res);
              axios.post('/api/back-atten-likes/fansPage',this.query,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
                console.log(res)
                this.tableData = res.data.data
                this.pageTotal = res.data.count

              }).catch(function (error) {
                console.log(error);

              });
            });
        },
        // 触发搜索按钮
        handleSearch() {
            this.$set(this.query, 'pageIndex', 1);
            this.getData();
        },
        // 分页导航
        handlePageChange(val) {
            this.$set(this.query, 'pageIndex', val);
            this.getData();
        },
      handleAtten(index,row) {
        console.log(row)
        //互关 点击则取消关注
        if (row.flag === 1) {
          let attenLikes = {
            attentionUserId: row.userId,
            flag: 2,
          }
          axios.post('/api/atten/likes/delete', attenLikes, {headers: {"Content-Type": "application/json"}}).then((res) => {
            console.log(res);
            this.$message.success("取消成功。")
            this.getData()
          }).catch(function (error) {
            console.log(error);
          });
        } else {

          let attenLikes = {
            attentionUserId: row.userId,
            flag: 2,
          }
          axios.post('/api/atten/likes/save', attenLikes, {headers: {"Content-Type": "application/json"}}).then((res) => {
            console.log(res);
            this.$message.success("感谢关注。")
            this.getData()
          }).catch(function (error) {
            console.log(error);
          });
        }
      }
    }
};
</script>

<style scoped>
.handle-box {
    margin-bottom: 20px;
}

.handle-select {
    width: 120px;
}

.handle-input {
    width: 300px;
    display: inline-block;
}
.table {
    width: 100%;
    font-size: 14px;
}
.red {
    color: #ff0000;
}
.mr10 {
    margin-right: 10px;
}
.table-td-thumb {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}
</style>
