<template>
    <div>
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <i class="el-icon-lx-cascades"></i> 角色管理
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="container">
            <div class="handle-box">
                <el-input v-model="query.account" placeholder="用户名" class="handle-input mr10"></el-input>
                <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
            </div>
            <el-table
                :data="tableData"
                border
                class="table"
                ref="multipleTable"
                header-cell-class-name="table-header"
                @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55" align="center"></el-table-column>
                <el-table-column prop="id" label="ID" width="55" align="center"></el-table-column>
                <el-table-column prop="account" label="用户名"></el-table-column>
              <el-table-column label="用户账号管理" align="center">
                <template slot-scope="scope">
                  <el-tag
                      :type="scope.row.acc===1?'success':(scope.row.acc===2?'danger':'')"
                  >{{scope.row.acc === 1 ? '可看' : '不可看'}}</el-tag>
                </template>
              </el-table-column>
              <el-table-column label="角色管理" align="center">
                <template slot-scope="scope">
                  <el-tag
                      :type="scope.row.role===1?'success':(scope.row.role===2?'danger':'')"
                  >{{scope.row.role === 1 ? '可看' : '不可看'}}</el-tag>
                </template>
              </el-table-column>
              <el-table-column label="发表文章管理" align="center">
                <template slot-scope="scope">
                  <el-tag
                      :type="scope.row.art===1?'success':(scope.row.art===2?'danger':'')"
                  >{{scope.row.art === 1 ? '可看' : '不可看'}}</el-tag>
                </template>
              </el-table-column>
              <el-table-column label="升级信息管理" align="center">
                <template slot-scope="scope">
                  <el-tag
                      :type="scope.row.up===1?'success':(scope.row.up===2?'danger':'')"
                  >{{scope.row.up === 1 ? '可看' : '不可看'}}</el-tag>
                </template>
              </el-table-column>
              <el-table-column label="粉丝管理" align="center">
                <template slot-scope="scope">
                  <el-tag
                      :type="scope.row.fans===1?'success':(scope.row.fans===2?'danger':'')"
                  >{{scope.row.fans === 1 ? '可看' : '不可看'}}</el-tag>
                </template>
              </el-table-column>
              <el-table-column label="留言相关" align="center">
                <template slot-scope="scope">
                  <el-tag
                      :type="scope.row.com===1?'success':(scope.row.com===2?'danger':'')"
                  >{{scope.row.com === 1 ? '可看' : '不可看'}}</el-tag>
                </template>
              </el-table-column>

                <el-table-column label="操作" width="180" align="center">
                    <template slot-scope="scope">
                        <el-button
                            type="text"
                            icon="el-icon-edit"
                            @click="handleEdit(scope.$index, scope.row)"
                        >编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
                <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :current-page="query.pageIndex"
                    :page-size="query.pageSize"
                    :total="pageTotal"
                    @current-change="handlePageChange"
                ></el-pagination>
            </div>
        </div>

        <!-- 编辑弹出框 -->
        <el-dialog title="编辑" :visible.sync="editVisible" width="30%">
            <el-form ref="form" :model="form" label-width="70px">
                <el-form-item label="用户名">
                    <el-input v-model="form.account" readonly></el-input>
                </el-form-item>
                <el-form-item label="权限">
                  <el-select v-model="checkList" multiple placeholder="请选择">
                    <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="editVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveEdit">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import { fetchData } from '../api/index';
import axios from "axios";
export default {
    name: 'RoleMgmt',
    data() {
        return {
          checkList:[],
            query: {
                account: '',
                pageIndex: 1,
                pageSize: 10
            },
            options:[
              {
                label:'用户账号管理',
                value:1
              },
              {
                label:'角色管理',
                value: 2
              },
              {
                label:'发表文章管理',
                value: 3
              },
              {
                label:'升级信息管理',
                value: 4
              },
              {
                label:'留言相关',
                value: 5
              },
              {
                label:'粉丝管理',
                value: 6
              },
              ],
            tableData: [],
            multipleSelection: [],
            delList: [],
            editVisible: false,
            pageTotal: 0,
            form: {},
            idx: -1,
            id: -1
        };
    },
    created() {
        this.getData();
    },
    methods: {
        // 获取 easy-mock 的模拟数据
        getData() {
            fetchData(this.query).then(res => {
                console.log(res);
              axios.post('/api/role/page',this.query,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
                console.log(res)
                this.tableData = res.data.data
                this.pageTotal = res.data.count
              }).catch(function (error) {
                console.log(error);

              });
            });
        },
        // 触发搜索按钮
        handleSearch() {
            this.$set(this.query, 'pageIndex', 1);
            this.getData();
        },
        // 多选操作
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        // 编辑操作
        handleEdit(index, row) {
            this.idx = index;
            this.form = row;
            let arr = [];
            if (row.acc === 1) arr.push(1)
            if (row.role === 1) arr.push(2)
            if (row.art === 1) arr.push(3)
            if (row.up === 1) arr.push(4)
            if (row.com === 1) arr.push(5)
            if (row.fans === 1) arr.push(6)
          this.checkList = arr;
            console.log(this.form)
            this.editVisible = true;
        },
        // 保存编辑
        saveEdit() {
            console.log(this.checkList)
            this.form.checkList = this.checkList
            this.editVisible = false;
          axios.post('/api/role/edit',this.form,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
            console.log(res)

            this.getData()
            this.$message.success(`修改第 ${this.idx + 1} 行成功`);
            this.$set(this.tableData, this.idx, this.form);

          }).catch(function (error) {
            console.log(error);

          });


        },
        // 分页导航
        handlePageChange(val) {
            this.$set(this.query, 'pageIndex', val);
            this.getData();
        }
    }
};
</script>

<style scoped>
.handle-box {
    margin-bottom: 20px;
}

.handle-select {
    width: 120px;
}

.handle-input {
    width: 300px;
    display: inline-block;
}
.table {
    width: 100%;
    font-size: 14px;
}
.red {
    color: #ff0000;
}
.mr10 {
    margin-right: 10px;
}
.table-td-thumb {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}
</style>
