<template>
    <div>
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <i class="el-icon-lx-cascades"></i> 用户等级管理
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="container">
            <div class="handle-box">
                <el-select v-model="query.sort" placeholder="排序" class="handle-select mr10">
                    <el-option key="1" label="等级排序" value="1"></el-option>
                    <el-option key="2" label="能量值排序" value="2"></el-option>
                </el-select>
                <el-input v-model="query.account" placeholder="用户名" class="handle-input mr10"></el-input>
                <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
            </div>
            <el-table
                :data="tableData"
                border
                class="table"
                ref="multipleTable"
                header-cell-class-name="table-header"
            >
                <el-table-column type="selection" width="55" align="center"></el-table-column>
                <el-table-column prop="id" label="ID" width="55" align="center"></el-table-column>
                <el-table-column prop="account" label="用户名"></el-table-column>
                <el-table-column prop="visitCount" label="被访问量"></el-table-column>
                <el-table-column prop="likeCount" label="点赞量"></el-table-column>
                <el-table-column prop="fansCount" label="粉丝量"></el-table-column>
                <el-table-column prop="attenCount" label="关注量"></el-table-column>
                <el-table-column prop="articleCount" label="发布文章量"></el-table-column>
                <el-table-column prop="energy" label="总能量值"></el-table-column>
                <el-table-column prop="level" label="等级"></el-table-column>
            </el-table>
            <div class="pagination">
                <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :current-page="query.pageIndex"
                    :page-size="query.pageSize"
                    :total="pageTotal"
                    @current-change="handlePageChange"
                ></el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import { fetchData } from '../api/index';
import axios from "axios";
export default {
    name: 'UpGradeMgmt',
    data() {
        return {
            query: {
                sort: '',
                account: '',
                pageIndex: 1,
                pageSize: 10
            },
            tableData: [],
            multipleSelection: [],
            delList: [],
            editVisible: false,
            pageTotal: 0,
            form: {},
            idx: -1,
            id: -1
        };
    },
    created() {
        this.getData();
    },
    methods: {
        // 获取 easy-mock 的模拟数据
        getData() {
            fetchData(this.query).then(res => {
                console.log(res);
              axios.post('/api/back-atten-likes/page',this.query,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
                console.log(res)
                this.tableData = res.data.data
                this.pageTotal = res.data.count

              }).catch(function (error) {
                console.log(error);

              });
            });
        },
        // 触发搜索按钮
        handleSearch() {
            this.$set(this.query, 'pageIndex', 1);
            this.getData();
        },
        // 分页导航
        handlePageChange(val) {
            this.$set(this.query, 'pageIndex', val);
            this.getData();
        }
    }
};
</script>

<style scoped>
.handle-box {
    margin-bottom: 20px;
}

.handle-select {
    width: 120px;
}

.handle-input {
    width: 300px;
    display: inline-block;
}
.table {
    width: 100%;
    font-size: 14px;
}
.red {
    color: #ff0000;
}
.mr10 {
    margin-right: 10px;
}
.table-td-thumb {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}
</style>
