<template>
    <div>
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <i class="el-icon-lx-cascades"></i> 基础表格
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="container">
            <div class="handle-box">
                <el-button
                    type="primary"
                    icon="el-icon-delete"
                    class="handle-del mr10"
                    @click="handleDelete(0,{})"
                >批量删除</el-button>
<!--                <el-select v-model="query.address" placeholder="地址" class="handle-select mr10">-->
<!--                    <el-option key="1" label="广东省" value="广东省"></el-option>-->
<!--                    <el-option key="2" label="湖南省" value="湖南省"></el-option>-->
<!--                </el-select>-->
                <el-input v-model="query.account" placeholder="用户名" class="handle-input mr10"></el-input>
                <el-input v-model="query.phone" placeholder="手机号码" class="handle-input mr10"></el-input>
                <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
            </div>
            <el-table
                :data="tableData"
                border
                v-loading="loading"
                class="table"
                ref="multipleTable"
                header-cell-class-name="table-header"
                @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55" align="center"></el-table-column>
                <el-table-column prop="id" label="ID" width="55" align="center"></el-table-column>
                <el-table-column prop="account" label="用户名"></el-table-column>
                <el-table-column prop="name" label="名字"></el-table-column>
                <el-table-column prop="sex" label="性别"></el-table-column>
                <el-table-column prop="pos" label="所在地区"></el-table-column>
                <el-table-column prop="password" label="密码"></el-table-column>
                <el-table-column prop="phone" label="手机号码"></el-table-column>
                <el-table-column prop="birt" label="出生日期"></el-table-column>
                <el-table-column prop="interest" label="兴趣爱好"></el-table-column>
                <el-table-column prop="introduction" label="个人简介"></el-table-column>

                <!--                <el-table-column label="账户余额">-->
<!--                    <template slot-scope="scope">￥{{scope.row.money}}</template>-->
<!--                </el-table-column>-->
                <el-table-column label="头像(查看大图)" align="center">
                    <template slot-scope="scope">
                        <el-image
                            class="table-td-thumb"
                            :src="scope.row.avatarUrl"
                            :preview-src-list="[scope.row.avatarUrl]"
                        ></el-image>
                    </template>
                </el-table-column>

<!--                <el-table-column label="状态" align="center">-->
<!--                    <template slot-scope="scope">-->
<!--                        <el-tag-->
<!--                            :type="scope.row.recordStatus===1?'启用':(scope.row.recordStatus===1?'danger':'')"-->
<!--                        >{{启用}}</el-tag>-->
<!--                    </template>-->
<!--                </el-table-column>-->

                <el-table-column prop="createTime" label="注册时间"></el-table-column>
                <el-table-column label="操作" width="180" align="center">
                    <template slot-scope="scope">
                        <el-button
                            type="text"
                            icon="el-icon-edit"
                            @click="handleEdit(scope.$index, scope.row)"
                        >编辑</el-button>
                        <el-button
                            type="text"
                            icon="el-icon-delete"
                            class="red"
                            @click="handleDelete(scope.$index, scope.row)"
                        >删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
                <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :current-page="query.pageIndex"
                    :page-size="query.pageSize"
                    :total="pageTotal"
                    @current-change="handlePageChange"
                ></el-pagination>
            </div>
        </div>

        <!-- 编辑弹出框 -->
        <el-dialog title="编辑" :visible.sync="editVisible" width="30%">
            <el-form ref="form" :model="form" label-width="70px">
<!--                <el-form-item label="ID">-->
<!--                    <el-input v-model="form.id" ></el-input>-->
<!--                </el-form-item>-->
                <el-form-item label="名字">
                    <el-input v-model="form.name" ></el-input>
                </el-form-item>
<!--                <el-form-item label="用户名">-->
<!--                    <el-input v-model="form.account" ></el-input>-->
<!--                </el-form-item>-->
                <el-form-item label="密码">
                    <el-input v-model="form.password" ></el-input>
                </el-form-item>
                <el-form-item label="性别">
<!--                    <el-input v-model="form.sex" ></el-input>-->
                  <el-radio v-model="form.sex" label="男" >男</el-radio>
                  <el-radio v-model="form.sex" label="女" >女</el-radio>
                </el-form-item>
<!--                <el-form-item label="所在地区">-->
<!--                    <el-input v-model="form.position" ></el-input>-->
<!--                </el-form-item>-->
                <el-form-item label="出生日期">
<!--                    <el-input v-model="form.birthday" ></el-input>-->
                  <div class="block">
                    <el-date-picker
                        v-model="form.birthday"
                        type="date"
                        placeholder="选择日期"
                        value-format="yyyy-MM-dd">
                    </el-date-picker>
                  </div>
                </el-form-item>
                <el-form-item label="兴趣爱好">
                    <el-input v-model="form.interest"></el-input>
                </el-form-item>
                <el-form-item label="个人简介">
                    <el-input v-model="form.introduction"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="editVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveEdit">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import axios from 'axios';
import {CodeToText} from 'element-china-area-data'
import {formatDate} from "element-ui/src/utils/date-util";


export default {
    name: 'UserMgmt',
    data() {
        return {
            query: {
                address: '',
                account: '',
                phone:'',
                pageIndex: 1,
                pageSize: 10
            },
            loading:false,
            tableData: [],
            multipleSelection: [],
            delList: [],
            editVisible: false,
            pageTotal: 0,
            form: {},
            idx: -1,
            id: -1
        };
    },
    created() {
        this.getData();
    },
    methods: {
      formatDate(time) {
        let date = new Date(time);
        return formatDate(date, "yyyy-MM-dd");
      },
        setPos(str){
          let dz = '';
          if (str !== null && str !== '') {
            let value = str.split(',')
            if (value[1] !== null && value[1] !== '') {
              dz = CodeToText[value[0]] + '/' + CodeToText[value[1]]
            } else {
              dz = CodeToText[value[0]]
            }
          }
          return dz;
        },
        // 获取 easy-mock 的模拟数据
        getData() {
          this.loading = true;
            axios.post('/api/back-user/getPage',this.query,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
                console.log(res)
                let tableData = res.data.data
                tableData.forEach(x=>{
                  let a;
                  a = x;
                  a.pos = this.setPos(a.position)
                  a.birt = this.formatDate(a.birthday)
                  this.tableData.push(a)
                }) ;
                this.pageTotal = res.data.count

            }).catch(function (error) {
                console.log(error);

            });
          this.loading = false;



        },
        // 触发搜索按钮
        handleSearch() {
            this.$set(this.query, 'pageIndex', 1);
            this.getData();
        },
        // 删除操作
        handleDelete(index, row) {
            // 二次确认删除
            this.$confirm('确定要删除吗？', '提示', {
                type: 'warning'
            })
                .then(() => {

                    let ids = []
                  if (row.id !== undefined){
                    ids.push(row.id)
                  }else{
                    ids = this.multipleSelection.map((x) => {
                      return x.id;
                    });
                  }
                  axios.post('/api/back-user/delete',ids,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
                    console.log(res)
                    this.$message.success('删除成功');
                    this.getData()

                  }).catch(function (error) {
                    console.log(error);
                  });

                })
                .catch(() => {});
        },
        // 多选操作
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        delAllSelection() {
            const length = this.multipleSelection.length;
            let str = '';
            this.delList = this.delList.concat(this.multipleSelection);
            for (let i = 0; i < length; i++) {
                str += this.multipleSelection[i].name + ' ';
            }
            this.$message.error(`删除了${str}`);
            this.multipleSelection = [];
        },
        // 编辑操作
        handleEdit(index, row) {
            this.idx = index;
            this.form = row;
            this.editVisible = true;
        },
        // 保存编辑
        saveEdit() {
          axios.post('/api/back-user/edit',this.form,{headers:{"Content-Type":"application/json"}}).then( (res) =>{
            console.log(res)
            if (res.data.data.loginFlag){
              this.editVisible = false;
              this.$message.success(`修改第 ${this.idx + 1} 行成功`);
              this.$set(this.tableData, this.idx, this.form);
            }else{
              this.$message.error(res.data.data.errorMes);
            }

          }).catch(function (error) {
            console.log(error);
          });

        },
        // 分页导航
        handlePageChange(val) {
            this.$set(this.query, 'pageIndex', val);
            this.getData();
        }
    }
};
</script>

<style scoped>
.handle-box {
    margin-bottom: 20px;
}

.handle-select {
    width: 120px;
}

.handle-input {
    width: 300px;
    display: inline-block;
}
.table {
    width: 100%;
    font-size: 14px;
}
.red {
    color: #ff0000;
}
.mr10 {
    margin-right: 10px;
}
.table-td-thumb {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}
</style>
