<template>
    <div>
        <el-row :gutter="20">
            <el-col :span="8">
                <el-card shadow="hover" class="mgb20" style="height:252px;">
                    <div class="user-info">
                        <img :src="avatarUrl" class="user-avator" alt />
                        <div class="user-info-cont">
                            <div class="user-info-name">{{name}}</div>
                            <div>{{role}}</div>
                        </div>
                    </div>
                    <div class="user-info-list">
                        上次登录时间：
                        <span>{{loginTime}}</span>
                    </div>
                    <div class="user-info-list">
                        上次登录方式：
                        <span>{{os}} -- {{browser}}</span>
                    </div>
                </el-card>
                <el-card shadow="hover" style="height:150px;">
                    <div slot="header" class="clearfix">
                        <span>等级信息</span>
                    </div>LV.{{user.level}}
                    <el-progress :percentage="precent" color="#42b983"></el-progress>
                </el-card>
            </el-col>
            <el-col :span="16">
                <el-row :gutter="20" class="mgb20">
                    <el-col :span="8">
                        <el-card shadow="hover" :body-style="{padding: '0px'}">
                            <div class="grid-content grid-con-1">
                                <i class="el-icon-lx-people grid-con-icon"></i>
                                <div class="grid-cont-right">
                                    <div class="grid-num">{{count.visitCount}}</div>
                                    <div>被访问量</div>
                                </div>
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :span="8">
                        <el-card shadow="hover" :body-style="{padding: '0px'}">
                            <div class="grid-content grid-con-2">
                                <i class="el-icon-lx-notice grid-con-icon"></i>
                                <div class="grid-cont-right">
                                    <div class="grid-num">{{count.likeCount}}</div>
                                    <div>点赞数</div>
                                </div>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>


            </el-col>
          <el-col :span="16">
            <el-row :gutter="20" class="mgb20">
              <el-col :span="8">
                <el-card shadow="hover" :body-style="{padding: '0px'}">
                  <div class="grid-content grid-con-3">
                    <i class="el-icon-lx-people grid-con-icon"></i>
                    <div class="grid-cont-right">
                      <div class="grid-num">{{count.fansCount}}</div>
                      <div>粉丝量</div>
                    </div>
                  </div>
                </el-card>
              </el-col>
              <el-col :span="8">
                <el-card shadow="hover" :body-style="{padding: '0px'}">
                  <div class="grid-content grid-con-1">
                    <i class="el-icon-lx-goods grid-con-icon"></i>
                    <div class="grid-cont-right">
                      <div class="grid-num">{{count.attenCount}}</div>
                      <div>关注量</div>
                    </div>
                  </div>
                </el-card>
              </el-col>
            </el-row>


          </el-col>
            <el-col :span="16">
              <el-row>
                <el-col :span="8">
                  <el-card shadow="hover" :body-style="{padding: '0px'}">
                    <div class="grid-content grid-con-2">
                      <i class="el-icon-lx-goods grid-con-icon"></i>
                      <div class="grid-cont-right">
                        <div class="grid-num">{{count.articleCount}}</div>
                        <div>发表文章数</div>
                      </div>
                    </div>
                  </el-card>
                </el-col>
              </el-row>
            </el-col>
        </el-row>

    </div>
</template>

<script>
import Schart from 'vue-schart';
import axios from "axios";
export default {
    name: 'dashboard',
    data() {
        return {
          loginTime:'',
          os:'',
          browser:'',
          count:{
            visitCount:0,
            likeCount:0,
            fansCount:0,
            attenCount:0,
            articleCount:0,
          },
          precent:1,
          user:{},
            avatarUrl:'',
            name: localStorage.getItem('ms_username'),
        };
    },
    components: {
        Schart
    },
    computed: {
        role() {
            return this.name === 'admin' ? '超级管理员' : '普通用户';
        }
    },
    created() {
      let user = JSON.parse(localStorage.getItem('user'))
      this.user = user;
      this.avatarUrl = user.avatarUrl
      this.precent = parseFloat(((100*user.energy) / (5*user.level*(user.level + 1))).toFixed(1))
      this.getCount()
      this.getLoginOperate()


    },
    methods: {
      getLoginOperate(){
        axios.post('/api/operate/getLoginOperate').then( (res) => {
          let data = res.data.data;
          this.os = data.os
          this.loginTime=data.time
          this.browser=data.browser

        })
      },

        getCount(){
          axios.post('/api/atten/likes/getAttenLikesCount').then( (res) => {
            let data = res.data.data;
            if (data === null){
              this.count={
                visitCount:0,
                likeCount:0,
                fansCount:0,
                attenCount:0,
                articleCount: 0,
              }
            }else{
              this.count = res.data.data
            }
          })
        }

    }
};
</script>


<style scoped>
.el-row {
    margin-bottom: 20px;
}

.grid-content {
    display: flex;
    align-items: center;
    height: 100px;
}

.grid-cont-right {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.grid-num {
    font-size: 30px;
    font-weight: bold;
}

.grid-con-icon {
    font-size: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
}

.grid-con-1 .grid-con-icon {
    background: rgb(45, 140, 240);
}

.grid-con-1 .grid-num {
    color: rgb(45, 140, 240);
}

.grid-con-2 .grid-con-icon {
    background: rgb(100, 213, 114);
}

.grid-con-2 .grid-num {
    color: rgb(45, 140, 240);
}

.grid-con-3 .grid-con-icon {
    background: rgb(242, 94, 67);
}

.grid-con-3 .grid-num {
    color: rgb(242, 94, 67);
}

.user-info {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.user-avator {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user-info-cont {
    padding-left: 50px;
    flex: 1;
    font-size: 14px;
    color: #999;
}

.user-info-cont div:first-child {
    font-size: 30px;
    color: #222;
}

.user-info-list {
    font-size: 14px;
    color: #999;
    line-height: 25px;
}

.user-info-list span {
    margin-left: 70px;
}

.mgb20 {
    margin-bottom: 20px;
}

.todo-item {
    font-size: 14px;
}

.todo-item-del {
    text-decoration: line-through;
    color: #999;
}

.schart {
    width: 100%;
    height: 300px;
}
</style>
