<template>
    <div class="sidebar">
        <el-menu
            class="sidebar-el-menu"
            :default-active="onRoutes"
            :collapse="collapse"
            background-color="#324157"
            text-color="#bfcbd9"
            active-text-color="#20a0ff"
            unique-opened
            router
        >
            <template v-for="item in items">
                <template v-if="item.subs">
                    <el-submenu :index="item.index" :key="item.index" v-if="item.show">
                        <template slot="title">
                            <i :class="item.icon"></i>
                            <span slot="title">{{ item.title }}</span>
                        </template>
                        <template v-for="subItem in item.subs">
                            <el-submenu
                                v-if="subItem.subs"
                                :index="subItem.index"
                                :key="subItem.index"
                            >
                                <template slot="title">{{ subItem.title }}</template>
                                <el-menu-item
                                    v-for="(threeItem,i) in subItem.subs"
                                    :key="i"
                                    :index="threeItem.index"
                                >{{ threeItem.title }}</el-menu-item>
                            </el-submenu>
                            <el-menu-item
                                v-else
                                :index="subItem.index"
                                :key="subItem.index"
                            >{{ subItem.title }}</el-menu-item>
                        </template>
                    </el-submenu>
                </template>
                <template v-else>
                    <el-menu-item :index="item.index" :key="item.index"  v-if ="item.show">
                        <i :class="item.icon"></i>
                        <span slot="title">{{ item.title }}</span>
                    </el-menu-item>
                </template>
            </template>
        </el-menu>
    </div>
</template>

<script>
import bus from '../common/bus';
import axios from "axios";
export default {
    data() {
        return {
            roleMenu:{
              acc:1,
              role:1,
              art:1,
              up:1,
              com:1,
              fans:1
            },
            collapse: false,
            items: [
                {
                    icon: 'el-icon-lx-home',
                    index: 'dashboard',
                    title: '系统首页',
                    show:true
                },
                {
                    icon: 'el-icon-lx-people',
                    index: 'account',
                    title: '用户账号管理',
                    show:false
                },
                {
                    icon: 'el-icon-lx-profile',
                    index: 'role',
                    title: '角色管理',
                  show:false
                },
                {
                    icon: 'el-icon-lx-text',
                    index: 'article',
                    title: '发表文章管理',
                  show:false
                },
                {
                    icon: 'el-icon-lx-crown',
                    index: 'upgrade',
                    title: '升级信息管理',
                  show:false
                },
                {
                    icon: 'el-icon-lx-friendadd',
                    index: 'fans',
                    title: '粉丝管理',
                  show:false
                },
              {
                icon: 'el-icon-lx-calendar',
                index: '30',
                title: '留言相关',
                show:false,
                subs: [
                  {
                    index: 'devcontent',
                    title: '开发者留言管理',
                    show:false

                  },
                  {
                    index: 'mycontent',
                    title: '我的留言',
                    show:false

                  },
                  {
                    index: 'comment',
                    title: '文章评论',
                    show:false

                  }
                ],

              },
              {
                icon: 'el-icon-medal-1',
                index: 'dataViews',
                title: '数据统计',
                show:false
              },
              {
                icon: 'el-icon-medal-1',
                index: 'chartPie',
                title: '数据统计',
                show:false
              },
            ]
        };
    },
    computed: {
        onRoutes() {
            return this.$route.path.replace('/', '');
        }

    },
  mounted() {

  },

  created() {
        // 通过 Event Bus 进行组件间通信，来折叠侧边栏
        bus.$on('collapse', msg => {
            this.collapse = msg;
            bus.$emit('collapse-content', msg);
        });
      let userId = localStorage.getItem("userId")
    if (userId !== "1"){
      this.items[7].show = true;
      this.items[8].show = false;
    }else{
      this.items[7].show = false;
      this.items[8].show = true;
    }
      axios.post('/api/role/getRoleByUserId?userId='+userId).then( (res) =>{
        let data = res.data.data
        this.$nextTick(()=>{
          this.items[0].show = true;
          this.items[1].show = data.acc === 1;
          this.items[2].show = data.role === 1;
          this.items[3].show = data.art === 1;
          this.items[4].show = data.up === 1;
          this.items[5].show = data.fans === 1;
          this.items[6].show = data.com === 1;
        })

      }).catch(function (error) {
        console.log(error);
      });

    },
};
</script>

<style scoped>
.sidebar {
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
    bottom: 0;
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
    width: 0;
}
.sidebar-el-menu:not(.el-menu--collapse) {
    width: 250px;
}
.sidebar > ul {
    height: 100%;
}
</style>
